* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    color: #0f172a;
}
body {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

/* tag selector  */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-link {
    color: inherit;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.icon-link {
    font-size: 1rem;
    color: inherit;   /* inherit - takes color from the parent tag*/
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;  /* if the content is getting overflowed from specific area, overflowed thing will be hidden*/
    border-radius: 100%;
    display: grid;
    place-items: center;  /* works for display as grid*/

}

.icon-link:hover {
    background: rgba(240, 237, 237, 0.886);
}

/* class selector  */
.img-button {
    border: none;
    background: transparent;

}
/* combination selector  */
.img-button img {
    width: 30px;
    aspect-ratio: 1/1; /* giving an proper ratio - if width is 10, heigt is also 10*/
    overflow: hidden;
    border-radius: 100%;

}

main {
    flex: 1; /*this allow for the container to become more greedy for the space and take as much space as possible*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.title-text {
    font-size: 3rem;
}

.input-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgba(240, 237, 237, 0.886); /*width- style - color*/
    padding: 1rem;
    border-radius: 1rem;
}

.input-bar:hover ,
.input-bar:focus-within {
    box-shadow: 0 0 4px 1px rgb(244, 236, 236); /*horizontal offset-vertical offset-spread-blur-color*/
}

.input-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
}

.input-bar div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-icon {
    border: none;
    background: transparent;
}
.input-icon:hover {
    opacity: 0.6;

}

.button-grid {
    display: flex;  /* to make it a flexile box container*/
    align-items: center;
    gap: 1rem;

}

.button-grid button{
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background: rgb(240, 235, 235);
    border-radius: 0.25rem;
}

.button-grid button:hover {
    border: 1px solid slategray;
}
